p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 1.34em;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: lightgrey;
}
body {
  background-color: slategrey;
}
a:link {
  text-decoration: none;
  color: lightgrey;
}
a:visited {
  text-decoration: none;
  color: lightgrey;
}

a:hover {
  text-decoration: underline;
  color: lightgrey;
}
a:active {
  text-decoration: underline;
  color: lightgrey;
}
table {
  margin: 0 auto
}
